@media(max-width: 992px){
    .navbar{
        background-color: #202340;
        opacity: .9;
    }
    .navbar-nav{
        text-align: center;
    }
    .u-l-c:before{
        height: 0;
    }
    .navbar-light .navbar-nav .nav-link.active::before{
        height: 0;
    }
    .s-border:nth-child(1),
    .s-border:nth-child(3){
        border-right: 1px solid #202340;
    }
    .s-border:nth-child(2){
        border-right: 0;
    }
    .s-border-2{
        border: 0;
    }
    .s-border-2:last-child{
        border-top: 1px solid #202340;
        border-left: 1px solid #202340;
    }
    .letters-container{
        bottom: 1.2em !important;
    }
}

@media(max-width: 768px){
    .letters-container{
        font-size: .9em;
    }
    .display-4{
        font-size: 2.5rem;
    }
    .s-border,
    .s-border-2{
        border: 0 !important;
    }
    .gallery{
        text-align: center;
    }
    .social-media{
        justify-content: center !important;
    }
}

@media(max-width: 325px){
    .btn-ghost{
        font-size: .8em;
    }
    .btn-full{
        font-size: .8em;
    }
}