html, body { 
    overflow-x: hidden !important; 
    font-family: 'Tinos', serif;
}

hr{
    background-color: #202340;
}
h3{
    color: #FF3333;
}
.active{
    color: #FF3333 !important;
}
/* ----------------------------------------------- */
/* common section-title area */
/* ----------------------------------------------- */
.section-title{
    color: #202340;
    text-align: center;
    padding: 3em 0;
}

.box{
	display: inline-block;
	position: relative;
}
.box span{
    color: #FF3333;
}
.b-style-first{
    height: 2px;
    width: 50px;
    background-color: #FF3333;
    float: left;
    display: inline-block;
}
.b-style-middle{
    display: inline-block;
    top: 0;
    transform: translate(0,-50%);
    color: #202446;
}
.b-style-last{
    height: 2px;
    width: 50px;
    background-color: #FF3333;
    float: right;
    display: inline-block;
}

/*btn-gost*/
.btn{
    border-radius: 18px;
}
.btn-ghost{
    background-color: transparent;
    background-image: none;
    border-color: #FF3333;
    cursor: pointer;
    color: #FF3333;
}
.btn-ghost:hover{
    background-color: #FF3333;
}
.btn-ghost a{
    text-decoration: none;
    color: #FF3333 !important;
}
.btn-ghost:hover a,
.btn-ghost:hover{
    color: #FFFFFF !important;
    transition: .5s;
}

/*btn-full*/
.btn-full{
    background-color: #FF3333;
    cursor: pointer;
}
.btn-full:hover{
    background-color: transparent;
    background-image: none;
    border-color: #FF3333;
}
.btn-full a,
.btn-full{
    color: #FFFFFF;
}
.btn-full:hover a,
.btn-full:hover{
    text-decoration: none;
    color: #FF3333 !important;
    transition: .5s;
}

/*send-msg*/
.send-msg{
    display: inline-block;
    margin-left: 1.5em;
}
/* ----------------------------------------------- */
/* navbar area */
/* ----------------------------------------------- */
.navbar-brand img{
    height: 2em;
}
.navbar{
   
    font-family: 'Josefin Sans', sans-serif;
}
.navbar-brand{
    color: #cbcfd1 !important;
}
.toggle-icon{
    color: aliceblue;
    border-color: aliceblue !important;
}
.navbar-nav a{
    font-size: 1rem;
    color: aliceblue !important;
    margin-right: .5rem !important;
    padding: .8rem !important;
}
.navbar-light .navbar-nav .nav-link.active{
    transition: .3s;
    color: #FF3333   !important;
    position: relative;
}
.navbar-light .navbar-nav .nav-link.active::before{
    position: absolute;
    content: "";
    height: 2px;
    background-color: red;
    width: 100%;
    left: 0;
    bottom: 0;
    transition-duration: 0.3s;
}
.navbar-toggler,
.navbar-toggler>.toggle-icon{
    cursor: pointer;
    color: #FF3333 !important;
}

/* ----------------------------------------------- */
/* slider area */
/* ----------------------------------------------- */

#home{
    background-image: url(background-image/car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    background-attachment: fixed;
}

.hero-txt{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hero-txt h1,
.hero-txt h3{
    color: #FF3333;
}
.hero-txt h2{
    color: white;
}



/* ----------------------------------------------- */
/* about area */
/* ----------------------------------------------- */

#about{
    padding: 80px 0;
    background-image: url(background-image/section-background-1.jpg);
}

.social-media a{
    background-color: #FF3333;
    margin-left: 1em;
    color: white;
    border-radius: 10%;
}
.social-media a:first-child{
    margin-left: 0;
}
.my-skills{
    padding: 2em 0;
}
.skills{
    padding-top: 1em;
    padding-bottom: 1em;
}

.progress{
    border-radius: 0px;
    height: 1.5em;
    background-color: aliceblue;
    border: 1px solid #FF3333;
    
}
.progress-bar{
    background-color: #FF3333;
    height: 1em;
    position: relative;
    top: 12%;
    
}



/* ----------------------------------------------- */
/* service area */
/* ----------------------------------------------- */
#services{
    background-image: url(background-image/section-background.jpg);
    padding: 80px 0;
    overflow: hidden;
}
.hvr-glow:hover>.all-services i{
    color: #202340;
    transition: .5s;
}
.hvr-glow:hover>.all-services h4{
    color: #FF3333;
    transition: .5s;
}
.s-border,
.s-border-2{
    border-right: 1px solid #202340;
}
.s-border{
    border-bottom: 1px solid #202340;
}.s-border:nth-child(3){
    border-right: 0;
}
.s-border:last-child{
    border-right: 0;
}
.s-border-2:last-child{
    border-right: 0;
}

.all-services{
    padding: 2em;
    margin-top: 2em;
    cursor: pointer;
}
.all-services i{
    color: #FF3333;
    padding: .3em;
    font-size: 3em;
    padding: .4em;
    border-radius: 50%
}
.all-services h4{
    color: #202340;
    float: right;
}
.all-services p{
    margin-top: 1em;
}
/*counter-up*/
.counter-area{
    background-image: url(background-image/laptop-mobile.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 1;
}
.counter-area::after{
    position: absolute;
    content: "";
    background-color: black !important;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: -1;
}
.counter-item{
    text-align: center;
    top: 50%;
    position: relative;
    transform: translate(0,-25%);
    padding-bottom: 5em;
}
.counter-item i{
    color: #FFFFFF;
    font-size: 3em;
}
.counter-item h2{
    color: #FF3333;
    font-size: 3em;
}
.counter-item p{
    color: #fff;
    font-size: 1.5em;
}

/* ----------------------------------------------- */
/* portfolio area */
/* ----------------------------------------------- */
#portfolio{
    padding: 80px 0;
}

.portfolio-menu ul li{
   display: inline-block;
    padding: 0 1em;
    color: #202340;
    font-size: 1.1em;
    cursor: pointer;
    margin-left: 1em;
    border: 2px solid transparent;
}
.portfolio-menu ul li:hover{
    color: #FF3333;
    transition: .5s;
}
.item img{
    height: 228px;
    width: 360px;
    filter: grayscale(9);
}
.item {
    margin-top: 1.5em;
}
/* ----------------------------------------------- */
/* blog area */
/* ----------------------------------------------- */
#blog{
    padding: 80px 0;
}
.all-blog{
    background-color: #F2F2F2;
    cursor: pointer;
}
.post-date span{
    font-size: 1.5em;
    color: #FF3333;
}
.card-img-top{
    height: 256px;
}
.all-blog img{
    filter: grayscale(100%);
}
.all-blog:hover img{
    transition: 1s;
    filter: none;
}

/* ----------------------------------------------- */
/* contact area */
/* ----------------------------------------------- */
#contact{
    padding: 80px 0;
    background-image: url(background-image/section-background-1.jpg);
}

.contact-by h4{
    color: #202340;
}
.contact-by i{
    color: #FF3333;
    font-size: 2.5em;
}
.contact-by a{
    color: #202340;
}
.contact-by:hover a{
    text-decoration: underline;
}

.form-control{
    border-radius: 0;
}
.form-control:focus{
    border-color: #202340;
    box-shadow: 0 0 0 .2rem rgba(116, 148, 181, 0.25);
}
/*map*/
#map {
    height: 20em;
    width: 100%;
    margin-top: 2em;
}


/* ----------------------------------------------- */
/* footer area */
/* ----------------------------------------------- */
footer{
    background-color: #202340;
}
footer>.container{
    padding: 1em;
}
footer>.container p{
    color: #fff;
}
footer>.container span{
    color: #FF3333;
}


/*Scroll To Top*/

.scrolltotop {
	background: #FF3333 none repeat scroll 0 0;
	bottom: 30px;
	cursor: pointer;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	height: 40px;
	position: fixed;
	right: 15px;
	text-align: center;
	width: 40px;
}
.scrolltotop > i {
	color: #202340;
	line-height: 37px;
	font-size: 18px;
}